<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshuajharris.alfred-can-i-stream-it</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>030C80BC-7367-4853-A619-EE2EF985B6A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99118019-4A07-48A8-B346-8B2CF0850D8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F27B6E4-824D-4AD9-8F15-AAF22FF69039</key>
		<array/>
		<key>6DAE5A3B-4DD6-40EC-A327-C0365D04BA19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F27B6E4-824D-4AD9-8F15-AAF22FF69039</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CBAC69B-0216-4AD2-8976-793BEB9ED0D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030C80BC-7367-4853-A619-EE2EF985B6A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joshua Harris</string>
	<key>description</key>
	<string>Shows which services are streaming a movie</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Can I Stream It?</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.canistream.it/search/movie/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F27B6E4-824D-4AD9-8F15-AAF22FF69039</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cisi-web</string>
				<key>subtext</key>
				<string>Press enter to open your Can I Stream It query in a browser</string>
				<key>text</key>
				<string>Can I Stream It webpage</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6DAE5A3B-4DD6-40EC-A327-C0365D04BA19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking for services...Please Wait!</string>
				<key>script</key>
				<string>python stream.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>A list of services streaming the movie will appear here</string>
				<key>title</key>
				<string>Streaming Services</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>030C80BC-7367-4853-A619-EE2EF985B6A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>99118019-4A07-48A8-B346-8B2CF0850D8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cisi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>I'm checking...Please wait!</string>
				<key>script</key>
				<string>python search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Check if a movie is available on your favorite streaming services</string>
				<key>title</key>
				<string>Can I Stream It</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CBAC69B-0216-4AD2-8976-793BEB9ED0D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>030C80BC-7367-4853-A619-EE2EF985B6A3</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>3F27B6E4-824D-4AD9-8F15-AAF22FF69039</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6DAE5A3B-4DD6-40EC-A327-C0365D04BA19</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8CBAC69B-0216-4AD2-8976-793BEB9ED0D1</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>99118019-4A07-48A8-B346-8B2CF0850D8C</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
